@import url('../../public/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --primary: #305CFD;
  --black: #242424;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  margin: 0 auto;
  font-family: Satoshi, sans-serif;
  max-width: 1640px !important;
  padding-right: 50px;
  padding-left: 50px;

}
@media (max-width: 900px) { /* For devices with a screen width of 768px or smaller */
  body {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* Custom Scrollbar Styles */
* {
  /* For Webkit browsers (Chrome, Safari) */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* Thinner scrollbar */
  background-color: transparent; /* Transparent background */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent scrollbar */
  border-radius: 10px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}